########################
# Global
########################
PUID=1000
PGID=1000
UMASK=002
TZ=America/Chicago

########################
# Paths (host)
########################
MEDIA_ROOT=/media/data
CONFIG_ROOT=/opt/mediastack/config
DOWNLOADS_ROOT=$MEDIA_ROOT/downloads


PLEX_CONFIG=$CONFIG_ROOT/plex

GLUETUN_CONFIG=$CONFIG_ROOT/gluetun

QBIT_CONFIG=$CONFIG_ROOT/qbit
QBIT_DOWNLOADS=$DOWNLOADS_ROOT/qbit

USENET_CONFIG=$CONFIG_ROOT/usenet
USENET_DOWNLOADS=$DOWNLOADS_ROOT/usenet

BOOKSHELF_CONFIG=$CONFIG_ROOT/bookshelf

BAZARR_CONFIG=$CONFIG_ROOT/bazarr

SONARR_CONFIG=$CONFIG_ROOT/sonarr
RADARR_CONFIG=$CONFIG_ROOT/radarr
PROWLARR_CONFIG=$CONFIG_ROOT/prowlarr
OVERSEERR_CONFIG=$CONFIG_ROOT/overseerr
########################
# Plex
########################
# Optional but recommended for first run
PLEX_CLAIM=claim-2FPLsriPPt9gkzscGbn4

# LAN IP of the Media VM
PLEX_ADVERTISE_IP=http://10.0.10.203:32400

########################
# VPN (NordVPN WireGuard)
########################
# From NordVPN dashboard
NORD_WG_PRIVATE_KEY=<<PRIVATE KEY>>

# Region locking (Spain's laws are favorable for streaming)
VPN_COUNTRIES=Spain

########################
# qBittorrent
########################
QBIT_WEBUI_PORT=8080

########################
# Watchtower
########################
# 24h
WATCHTOWER_INTERVAL=86400

########################
# Sonarr / Radarr / Lidarr / Readarr
########################
# Media management
TV_SHOWS_ROOT=$MEDIA_ROOT/tvshows
MOVIES_ROOT=$MEDIA_ROOT/movies
MUSIC_ROOT=$MEDIA_ROOT/music
AUDIOBOOKS_ROOT=$MEDIA_ROOT/audiobooks
BOOKS_ROOT=$MEDIA_ROOT/books



